<form class="form-inline" name="searchform">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 text-center app-title-size">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="user" ng-model="query" placeholder="user" required>
      </div>
    </div>
  </div>
    <div class="col-md-1 text-center app-title-size"><button type="button" class="btn btn-primary btn-lg" ng-disabled="!searchform.$valid" ng-click="searchform.$valid && getSearchResult()">Search</button> </div>
</div>
</form>
<div class="clear"></div>
<div class="row" ng-repeat="usersdata in userData |limitTo:4" >
  <hr>
  <div class="col-md-1"></div>
  <div class="col-md-1"><img ng-src="{{usersdata.avatar_url}}" height="40" alt="Description" /></div>
  <div class="col-md-6"><a class="a-text" ui-sref="userListDetail({ userId: usersdata.login })" >{{usersdata.login}}</a></div>
</div>
